*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family: "Poppins", serif;
}
body{
    background-color: #1D1E18;

}
.container{
    position:absolute;
    top:100px;
    left:500px;
    padding-top:20px;
    background-color:#6B8F71;
    display:flex;
    justify-content: center;
    flex-wrap:wrap;
    width:900px;
    height:500px;
    margin :auto;
    gap:20px;
    border: 3px solid black;
    border-radius:15px;
}

.container a{
    overflow:hidden;
    text-decoration: none;
    border:2px solid #eee;
    box-shadow: 0px 0px 2px 3px black;
    display:flex;
    flex-direction: column;
    font-size:15px;
    justify-content:flex-end;
    border-radius:10px;
    height:120px;
    width:120px;
    background-color:#1D1E18;
    background-size: 110px;
    background-repeat: no-repeat;
    background-position: top center;
    transition:all 0.3s ease-in-out;
}
.container a:hover{
    font-size:16px;
    background-color:#34352a;
    background-size:120px;
    background-repeat: no-repeat;
    background-position: top center;
}

#uiux a{
    position:relative;
    top:0px;
    left:0px;
    color:white;
    font-weight:600;
    background-image:url("uiuxjobs.jpg");

}
#graphic a{
    color:white;
    font-weight:600;
    background-image:url("graphic designer.jpg");
}
#marketing a{
    position:relative;
    top:150px;
    left:-560px;
    color:white;
    font-weight:600;
    background-image:url("digitalmarketing.jpg");
}
#dataentry a{
    color:white;
    font-weight:600;
    background-image:url("data entry.jpg");
}
#app a{
    position:relative;
    top:150px;
    left:-280px;
    color:white;
    font-weight:600;
    background-image:url("app development.jpg");
}
#local a{
    position:relative;
    top:148px;
    left:-420px;
    color:white;
    font-weight:600;
    background-image:url("localjobs.jpg");
}
#analyst a{
    position:relative;
    top:48px;
    left:-210px;
    color:white;
    font-weight:600;
    background-image:url("analyst.jpg");
}
#science a{
    position:relative;
    top:48px;
    left:-70px;
    color:white;
    font-weight:600;
    background-image:url("datascience.jpg");
}
#aiml a{
    position:relative;
    top:48px;
    left:-350px;
    color:white;
    font-weight:600;
    background-image:url("ai.jpg");
}
.otherjobs{
    position:absolute;
    top:100px;
    left:1000px;
    width:300px;
    display:flex;
    flex-direction: column;
    justify-content:center;
    height:auto;
    margin :auto;
    gap:10px;
}
.otherjobs a{
    text-decoration:none;
    color:white;
    font-size:18px;
}
#veiw a{
    position:relative;
    color:rgb(59, 59, 224);
    transition:all 0.3s ease-in-out;
}
#veiw a::before {
    content: ">";
    font-size:25px;
    position: relative;
    left: 105px;
    top:5px;
    transition: left 0.3s ease-in-out;
}

#veiw a:hover::before {
    left: 115px; 
}
.otherjobs a:hover{
    color:rgb(16, 79, 240);
}
